.custom-tabs-container {
    width: 10%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    background-color: red;
    padding: 0px 0px;
    border-bottom: 1px solid #f03762;
    width: 100%;
}

.custom-tab {
    color:#f03762;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #32a852;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}